@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Games</h1>
    
</div>
<!--
You are free to copy and use this sample in accordance with the terms of the
Apache license (http://www.apache.org/licenses/LICENSE-2.0.html)
-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <script src="//www.google.com/jsapi?key=AIzaSyA5m1Nc8ws2BbmPRwKu5gFradvD_hgq6G0" type="text/javascript"></script>
    <script type="text/javascript">
       

        google.load('search','1');

        function searchComplete(searcher) {
            // Check that we got results
            if (searcher.results && searcher.results.length > 0) {
                // Grab our content div, clear it.
                var contentDiv = document.getElementById('content');
                contentDiv.innerHTML = '';

                // Loop through our results, printing them to the page.
                var results = searcher.results;
                for (var i = 0; i < results.length; i++) {
                    // For each result write it's title and image to the screen
                    var result = results[i];
                    var imgContainer = document.createElement('div');

                    var title = document.createElement('h2');
                    // We use titleNoFormatting so that no HTML tags are left in the title
                    title.innerHTML = result.titleNoFormatting;

                    var newImg = document.createElement('img');
                    // There is also a result.url property which has the escaped version
                    newImg.src = result.tbUrl;

                    imgContainer.appendChild(title);
                    imgContainer.appendChild(newImg);

                    // Put our title + image in the content
                    contentDiv.appendChild(imgContainer);
                }
            }
        }

        function OnLoad() {
            // Our ImageSearch instance.
            var imageSearch = new google.search.ImageSearch();

            // Restrict to extra large images only
            imageSearch.setRestriction(google.search.ImageSearch.RESTRICT_IMAGESIZE,
                                       google.search.ImageSearch.IMAGESIZE_MEDIUM);

            
            imageSearch.setSearchCompleteCallback(this, searchComplete, [imageSearch]);

            
            imageSearch.execute( "dark souls 2" + "box art");
        }
        google.setOnLoadCallback(OnLoad);
    </script>
</head>
<body style="font-family: Arial;border: 0 none;">
    <div id="content">Loading...</div>
</body>
</html>
​
<div class="row">
    <div class="col-lg-12">
        <h2>Rate The Game!</h2>
        <img src="" alt="" />
        <label id="Label1">Is this Game Good?</label>
        <input id="Button2" type="button" value="No" />
        <input id="Button1" type="button" value="Yes" />
    </div>
</div>